:root {
    --hover-color: rgba(250, 74, 12, 1);
    --nav-text-color: rgba(37, 43, 66, 1);
    --hero-subtitle-color: rgba(246, 246, 246, 1);
    --hero-title-color: rgba(255, 255, 255, 1);
    --titles-color: rgba(0, 0, 0, 1);
    --app-desc-color: rgba(115, 115, 115, 1);
    --hero-background-color: rgba(23, 16, 16, 0.6);
    --order-background-color: rgba(37, 43, 66, 0.4);
    --footer-desc-color: rgba(92, 92, 92, 1);
    --font-family: "Montserrat", sans-serif;
    --second-family: "Poppins", sans-serif;
    --third-family: "Roboto", sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    font-size: 24px;
}

.container {
    width: 1210px;
    margin: 0 auto;
}
.header {
    padding-top: 50px;
    padding-bottom: 42px;
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    width: 150px;
    height: 66px;
}

.nav-list {
    display: flex;
    gap: 94px;
}

.nav-link:hover {
    color: var(--hover-color);
}

.nav-link {
    color: var(--nav-text-color);
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.2px;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

.hero {
    background-color: var(--hero-background-color);
    padding-top: 80px;
    padding-bottom: 162px;
}

.hero-container {
    text-align: center;
}

.hero-subtitle {
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.1px;
    color: var(--hero-subtitle-color);
}

.hero-title {
    font-family: var(--second-family);
    color: var(--hero-title-color);
    font-size: 58px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0.2px;
    padding-bottom: 10px;
}

.hero-desc {
    padding-bottom: 54px;
    color: var(--hero-subtitle-color);
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.2px;
    line-height: 38px;
}

.hero-list {
    display: flex;
   justify-content: center;
   gap: 67px;
}


.hero-button {
    color: var(--hero-title-color);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.1px;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: var(--hover-color);
    border-width: 0;
    border-radius: 30px;
    padding-left: 58px;
    padding-right: 58px;
}

.second-button-hero {
    border-width: 1px;
    border-color: var(--hero-title-color);
    border-style: solid;
    background-color: transparent;
}
.app {
    padding-top: 56px;
    padding-bottom: 190px;
}
.app-list {
    padding-left: 84px;
    padding-right: 71px;
    display: flex;
    flex-wrap: wrap;
}

.app-item {
    display: flex;
    gap: 280px;
    align-items: center;
}

.app-item:nth-child(2) {
    flex-direction: row-reverse;
}

.app-title {
    font-family: var(--second-family);
    color: var(--titles-color);
    font-weight: 600;
    font-size: 44px;
    line-height: 36px;
    letter-spacing: 0.1px;
    text-align: center;
    padding-top: 56px;
    padding-bottom: 70px;
}

.app-subtitle {
    color: var(--hover-color);
    line-height: 36px;
    font-size: 24px;
    letter-spacing: 0.1px;
    font-weight: 700;
    padding-bottom: 7px;
}

.app-item-title {
    font-size: 40px;
    line-height: 57px;
    color: var(--nav-text-color);
    font-weight: 700;
    letter-spacing: 0.2px;
    padding-bottom: 17px;
}

.app-desk {
    font-size: 24px;
    color: var(--app-desc-color);
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0.2px;
}

.order {
    background-color: var(--order-background-color);
    height: 509px;
    text-align: center;
}

.order-title {
    color: var(--hero-title-color);
    font-size: 40px;
    line-height: 57px;
    font-weight: 700;
    letter-spacing: 0.2px;
    padding-top: 131px;
    padding-bottom: 10px;
}

.order-desc {
    color: var(--hero-title-color);
    font-size: 24px;
    line-height: 38px;
    font-weight: 500;
    letter-spacing: 0.2px;
    padding-bottom: 59px;
}

.order-list {
    display: flex;
    margin: 0 auto;
    gap: 16px;
    width: 331px;
}

.order-btn {
    background-color: var(--hover-color);
    color: var(--hero-title-color);
    font-size: 16px;
    line-height: 28px;
    font-weight: 700;
    letter-spacing: 0.2px;
    border-width: 0;
    border-radius: 10px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 31px;
    padding-right: 31px;
}

.second-button-order {
    color: var(--hero-title-color);
    font-size: 16px;
    line-height: 28px;
    font-weight: 700;
    letter-spacing: 0.2px;
    background-color: transparent;
    border-width: 1px;
    border-color: var(--hero-title-color);
    border-style: solid;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 45px;
    padding-right: 45px;
}


.footer {
    background-color: var(--hero-title-color);
}

.footer-container {
    display: flex;
    background-color: var(--hero-title-color);
    padding-left: 24px;
    padding-top: 114px;
    padding-bottom: 58px;
    justify-content: space-between;
}

.footer-copywright {
    color: var(--order-background-color);
    font-family: var(--third-family);
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.1px;
    font-weight: 700;
    padding-top: 19px;
    padding-bottom: 29px;
}